/* be aware of wwwidth etc */
.std_oak_form  {
	border-style: groove;
	border-radius: 25px;
	padding: 20px;
}

.std_oak_div {
	border-style: groove;
	border-radius: 25px;
	padding: 20px;
	/* wwwidth: 100%; */
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    /* wwwidth: 400px; */
	width: 100%;
    height: 250px;
    background-color: lightgrey;
	border-style: groove;
	border-radius: 25px;
	padding: 20px;
	justify-content:center;
}

.flex-container-b {
    display: -webkit-flex;
    display: flex;
	width: 100%;
    background-color: lightgrey;
	border-style: groove;
	border-radius: 25px;
	padding: 20px;
	justify-content:center;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.flex-item-b {
    background-color: cornflowerblue;
    margin: 10px;
	width: 500px;
}

.col-style {
	border-style: groove;
	background-color: cornflowerblue;
}
.class_oak_form {
	margin-left: 15px;
}
.class_outer_oak_form {
	margin-left: -15px;
	background-color: cornflowerblue;
}
.ha {
	height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
